.home_container {
  margin-top: 50px;
}

article {
  margin-top: 20px;
  display: grid;
  justify-items: center;
  gap: 30px;
}

button {
  width: 140px;
  height: 30px;
  font-size: 16px;
}

.buttons {
  margin: 50px;

  button {
    margin: 0 10px;
    width: 340px;
  }
}
